.links {
  stroke: #000;
  stroke-opacity: 0.2;
}

.polygons {
  fill: none;
  stroke: #000;
}

.polygons :first-child {
  fill: #f00;
}

.points {
  fill: #000;
  stroke: #fff;
}

.points :first-child {
  fill: #fff;
}