.Tabs-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Tab-link {
  margin: 0 10px;
  border-bottom: 1px solid blue;
}