.Tabs-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 50px;
}

.Tab {
  width: 100px;
  margin: 0 20px;
}

.Tab-link {
  display: block;
  border-bottom: 3px solid blue;
  &.active {
    border-color: red;
  }
}